[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
autopep8 = "*"
pytest = "*"
beautifulsoup4 = "*"
dataclasses-json = "*"
ujson = "*"
dacite = "*"

[requires]
python_version = "3.8"
